<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 在控制台输出执行的sql语句 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <environments default="mysql">
        <environment id="mysql" >
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://10.96.80.17:3306/auv_job?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="liuwu_test_001"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="./mapper/JobInfoMapper.xml"/>
        <mapper resource="./mapper/JobLogMapper.xml"/>
        <mapper resource="./mapper/TaskInfoMapper.xml"/>
        <mapper resource="./mapper/TaskLockMapper.xml"/>
        <mapper resource="./mapper/WorkerInfoMapper.xml"/>
    </mappers>

</configuration>